@import "grids.css";
@import "animations.css";
html, body {
  height: 100%;
  width: 100%;
  font-size: 0;
  margin: 0;
  perspective: 1000px;
}
.paneltop {
  height: 100%;
  transform-style: preserve-3d;
  background-color: black;

  .button {
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .1s linear;

    .topblock {
      width: 100%;
      height: 200%;
      top: -100%;
      transform-origin: 0 bottom;
      transform: rotateX(90deg);
      background-color: rgba(84, 76, 85, 1);
      position: absolute;
    }
    .rigthblock {
      height: 100%;
      width: 100%;
      right: -100%;
      transform-origin: left 0;
      transform: rotateY(90deg);
      background-color: rgba(84, 76, 85, 1);
      position: absolute;
    }
    .bottomblock {
      width: 100%;
      height: 200%;
      bottom: -100%;
      transform-origin: 0 top;
      transform: rotateX(-90deg);
      background-color: rgba(84, 76, 85, 1);
      position: absolute;
    }
    .leftblock {
      height: 100%;
      width: 100%;
      left: -100%;
      transform-origin: right 0;
      transform: rotateY(-90deg);
      background-color: rgba(84, 76, 85, 1);
      position: absolute;
    }
    .shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      background: none;
      transform: translateZ(-1px);
      transition: transform .1s linear, box-shadow .1s linear;
    }
    &:nth-child(1) {
      animation: colorbg 1.5s linear infinite alternate;
    }
    &:nth-child(2n) {
      animation: colorbg 2s linear infinite alternate-reverse;
    }
    &:nth-child(3n) {
      animation: colorbg 2.5s linear infinite alternate;
    }
    &:nth-child(4n) {
      animation: colorbg 3s linear infinite alternate-reverse;
    }
    &:nth-child(5n) {
      animation: colorbg 3.5s linear infinite alternate;
    }
    &.text:hover {
      /*! class .text on/off all button !*/
      transform: translateZ(40px);
      animation: rainbow 1s linear infinite;
    }
    &:hover .shadow {
      transform: translateZ(-38px);
      box-shadow: 0 0 50px #000;
    }
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: default;

    #rotate {
      transform: rotate(-180deg);
      writing-mode: vertical-lr;
    }
  }
  footer {
    width: 100%;
    height: 100%;
    background-color: white;
  }
}